
<div class="container-fluid" id="con">
	<div class="col-12 col-md-12 col-lg-12 ">
		<div class="my-2 col-12 col-md-12 col-lg-12">
			<app-corousel ></app-corousel>
		</div>

		<div class="card  border border-dark my-2">
			<div class="row">
				<div class="col-12 col-md-12 col-lg-5">
					<img class="card-img-top imageow" src="../assets/images/swiggyowner.jpg" alt="Owner">
				</div>
				<div class="col-12 col-md-12 col-lg-7">
					<div class="row">
						<h2>What’s the Swiggy Story?</h2>
					</div>
					<div class="row">
						<p class="font-weight-light">What made Harsha, Nandan and Rahul build a platform that is Changing the way India eats?</p>
					</div>
					<div class="row">
						<p class="font-weight-normal">
							It all started back in 2014 when two BITS Pilani graduates, Sriharsha Majety and Nandan Reddy decided they wanted to make
							life easier by changing the way India eats - all with just a tap! With their idea of ’hyperlocal food delivery’, all
							they needed was the tech to power it and were introduced to Rahul Jaimini, who brought this vision to life with the
							first website. And with this, Swiggy was launched as a food ordering & delivery platform.
							<br> In August of 2014, Swiggy began operations by signing up a few restaurants in Koramangala, Bengaluru. Soon enough,
							the first team of Hunger Saviors came into action to deliver food within 40 minutes. Shortly after, Swiggy raised
							its first round of funding and launched the app in May of 2015. Fun fact: The technology that delivers great food
							right to your doorstep was completely developed in-house!
						</p>
					</div>
				</div>
			</div>

		</div>


	</div>
</div>
