<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">

<style type="text/css">
.card {
	background-color: #ffffd5;
	padding: 2px;
}

.image {
	padding: 2px;
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.navbar-brand {
	padding: 2px;
}

.nav-item {
	padding: 2px;
}

.text {
	margin-left: 2rem;
}

.bg {
	background-image: url("../images/swiggy.jpg");
	height: 100%;
	width: 100%;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	background-repeat: repeat;
	background-size: cover;
}
</style>
</head>
<body class="bg">

	<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Swiggy</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<!-- Links -->
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="">Food Items</a></li>
			</ul>
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="#"><i
						class="fas fa-shopping-cart">Cart</i></a></li>
				<li class="nav-item"><a class="nav-link" href="#"><i
						class="fa fa-user" aria-hidden="true">Login</i></a></li>
			</ul>
		</div>
	</nav>

	<div class="container">


		<div class="col-12 col-md-12 col-lg-12">
			<div class="row">
				<div class="col-12 col-md-6 col-lg-4 my-2 d-flex">
					<div class="card  border border-dark">
						<img class="card-img-top" src="../images/burger.jpg"
							alt="Food image">
						<div
							class="card-body  text-centre d-flex flex-column justify-content-centre">
							<div class="row">
								<p class="card-title font-weight-bold">Burger(3 pcs)</p>
							</div>
							<div class="row">
								<p class="font-weight-light">North Indian</p>
							</div>
							<div class="row">
							<span class="font-weight-bold card-link">Rs xx</span>
							
								
								<span class="font-weight-bold card-link">	<input type="number" id="quantity"></span>
								
							</div>
							<br>
							<button class="btn btn-primary mt-auto" onclick="addtocart()">Add
								to Cart</button>

						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4  my-2 d-flex">
					<div class="card  border border-dark">
						<img class="card-img-top " src="../images/pizza.jpg"
							alt="Food image">
						<div
							class="card-body text-centre d-flex flex-column justify-content-centre">
							<div class="row">
								<p class="font-weight-bold">Pizza(8 pcs)</p>
							</div>
							<div class="row">
								<p class="font-weight-light">Chinese</p>
							</div>
							<div class="row">
							<span class="font-weight-bold card-link">Rs xx</span>
							
								
								<span class="font-weight-bold card-link">	<input type="number" id="quantity"></span>
								
							</div>
							<br>
							<button class="btn btn-primary mt-auto" onclick="addtocart()">Add
								to Cart</button>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4  my-2 d-flex">
					<div class="card  border border-dark">
						<img class="card-img-top" src="../images/biryani.jpg"
							alt="Food image">
						<div
							class="card-body  text-centre d-flex flex-column justify-content-centre">
							<div class="row">
								<p class="font-weight-bold">Chicken Biryani(3 pcs)</p>
							</div>
							<div class="row">
								<p class="font-weight-light">North Indian</p>
							</div>
							<div class="row">
							<span class="font-weight-bold card-link">Rs xx</span>
							
								
								<span class="font-weight-bold card-link">	<input type="number" id="quantity"></span>
								
							</div>
							<br>
							<button class="btn btn-primary mt-auto" onclick="addtocart()">Add
								to Cart</button>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4  my-2  d-flex">
					<div class="card  border border-dark">
						<img class="card-img-top" src="../images/eggroll.jpg"
							alt="Food image">
						<div
							class="card-body  text-centre d-flex flex-column justify-content-centre">
							<div class="row">
								<p class="font-weight-bold">Egg Roll(7 pcs)</p>
							</div>
							<div class="row">
								<p class="font-weight-light">North Indian</p>
							</div>
							<div class="row">
							<span class="font-weight-bold card-link">Rs xx</span>
							
								
								<span class="font-weight-bold card-link">	<input type="number" id="quantity"></span>
								
							</div>
							<br>
							<button class="btn btn-primary mt-auto" onclick="addtocart()">Add
								to Cart</button>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 my-2 d-flex">
					<div class="card  border border-dark">
						<img class="card-img-top" src="../images/noodles.jpg"
							alt="Food image">
						<div
							class="card-body  text-centre d-flex flex-column justify-content-centre">
							<div class="row">
								<p class="font-weight-bold">Noodles(5 pcs)</p>
							</div>
							<div class="row">
								<p class="font-weight-light">Chinese</p>
							</div>
							<div class="row">
							<span class="font-weight-bold card-link">Rs xx</span>
							
								
								<span class="font-weight-bold card-link">	<input type="number" id="quantity"></span>
								
							</div>
							<br>
							<button class="btn btn-primary mt-auto" onclick="addtocart()">Add
								to Cart</button>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 my-2 d-flex">
					<div class="card  border border-dark">
						<img class="card-img-top" src="../images/macroni.jpg"
							alt="Food image">
						<div
							class="card-body  text-centre d-flex flex-column justify-content-centre">
							<div class="row">
								<p class="font-weight-bold">Maccroni(4 pcs)</p>
							</div>
							<div class="row">
								<p class="font-weight-light">French</p>
							</div>
							<div class="row">
							<span class="font-weight-bold card-link">Rs xx</span>
							
								
								<span class="font-weight-bold card-link">	<input type="number" id="quantity"></span>
								
							</div>
							<br>
							<button class="btn btn-primary mt-auto" onclick="addtocart()">Add
								to Cart</button>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 my-2  d-flex">
					<div class="card  border border-dark">
						<img class="card-img-top" src="../images/butterpaneer.jpg"
							alt="Food image">
						<div
							class="card-body text-centre d-flex flex-column justify-content-centre">
							<div class="row">
								<p class="font-weight-bold">Butter Paneer(3 pcs)</p>
							</div>
							<div class="row">
								<p class="font-weight-light">North Indian</p>
							</div>
							<div class="row">
							<span class="font-weight-bold card-link">Rs xx</span>
							
								
								<span class="font-weight-bold card-link">	<input type="number" id="quantity"></span>
								
							</div>
							<br>
							<button class="btn btn-primary mt-auto" onclick="addtocart()">Add
								to Cart</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script>
		function addtocart() {
			alert("Item Added to cart");
		}
	</script>
</body>
</html>